[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = {extras = ["cli"], version = "*"}
playwright = "*"
pika = "*"
requests = "*"
google-generativeai = "*"
streamlit = "*"
pillow = "*"
pdf2image = "*"
pandas = "*"
openpyxl = "*"
pytesseract = "*"
pymupdf = "*"
python-docx = "*"
langdetect = "*"
langcodes = "*"
language-data = "*"
thefuzz = "*"
tqdm = "*"
unidecode = "*"
underthesea = "*"

[dev-packages]

[requires]
python_version = "3.10"
