
[Unit]
Description=EMTELLER ASSISTANT APIs

[Service]
User=nsd
WorkingDirectory=/emteller/assistant-api
ExecStart=/usr/bin/bash /emteller/assistant-api/bin/run_app_prod.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
