[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = {extras = ["cli"], version = "*"}
packaging = "*"
uwsgi = "*"
werkzeug = "*"
apispec = "*"
apispec-webframeworks = "*"
marshmallow = "*"
flask-swagger-ui = "*"
openapi-spec-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
